* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 5px;
    border-bottom: 1px solid grey;
}
.logo {
    background: url(./assets/logo.jpeg);
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    
}
.nav {
    padding: 40px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 25px;
    font-size: 1.6rem;
    background: grey;
    color: white;
    cursor: pointer;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    text-decoration: underline;
    font-size: 2.5rem;

}