* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 5px;
    border-bottom: 1px solid grey;
}
.logo {
    background: url(./assets/logo.jpeg);
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    
}
.nav {
    padding: 40px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 25px;
    font-size: 1.6rem;
    background: grey;
    color: white;
    cursor: pointer;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    text-decoration: underline;
    font-size: 2.5rem;

}
button {
    border: 2px solid grey;
    border-radius: 20px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
}
button:hover {
    color: white;
    background: black;
}
.photo-intro {
    background: url(./assets/kaos.webp);
    width: 1200px;
    height: 522px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 2px solid grey;
}
.projets {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;

}
.projet {
    background: url(./assets/projets.jpeg) no-repeat;
    width: 316px;
    height: 159px;
    border: 2px solid grey;
    margin-left: 8px;
}
.constructions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
}
.construction {
    background: url(./assets/construction.jpeg) no-repeat;
    width: 316px;
    height: 159px;
    border: 2px solid grey;
}
.navires {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
}
.navire {
    background: url(./assets/navire.jpeg) no-repeat;
    width: 316px;
    height: 159px;
    border: 2px solid grey;
}
h2{
    font-size: 1.4rem;
    padding: 5px;
    text-decoration: underline;
}

p {
    font-size: 1.2rem;
    padding: 5px;
}

footer {
    text-align: center;
}

